.faq_component {
  width: min(100%, 100rem); /** 900px */

  margin: 2rem;
  padding: 4rem 0;

  background-color: var(--color-white);
  border-radius: 0.5rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);

  @media (max-width: 800px) {
    max-width: 60rem;
    grid-template-columns: 1fr;

    margin: 0;
    padding: 0;
  }
}
